@import "tailwindcss";

:root {
  --background: #eae8e0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #eae8e0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.active {
  color: hsl(217 91% 60%);
}

.maintenance {
  color: hsl(34, 64%, 50%);
}

.completed {
  color: hsl(101, 85%, 23%);
}

::-webkit-scrollbar {
  display: none;
}